@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;1,700&display=swap');


*{
  font-family: 'Raleway'
}
.new-resource{
  display: block;
  margin: 1rem;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 1rem;
  width: 100%;
}

.content{
  margin: 3rem;
}

.location-name{
  font-size: 2rem;
}

.location-title{
  font-size: 1.25rem;
  margin: 1rem;
}

.resources{
  text-indent: 3em;
}

.submit{
  padding: .5rem 3rem;
  margin: 1rem;
}